.title {font-family: Roboto;}
.body {display: block; margin: 0px;}
.wrapper {
  margin: auto;
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 206px;
}
.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif;
  }
.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
  }
.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_darck-blue {
  background: #0056EC;
}
.menu {
  display:flex;
  align-items: center;
}
.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto;
  color: #000;
  text-decoration: none;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item_active::after {
position: absolute;
display: block;
content: '';
left: 0;
width: 100%;
height: 3px;
background: #0056EC;
}
.menu__item:hover {
  opacity: .5;
}
.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
  }
.menu__item:hover::after,.menu__item_active::after {
  opacity: 1;
  width: 100%;
}
.main {
padding-right: 63%;
background:no-repeat url(img/main.svg) top right;
}
.main__title {
margin: 0 0 40px 0;
font-style: normal;
font: bold 66px/87px pt_serif;
}
.main-subtitle {
margin: 0 0 41px 0;
font: normal 22px/26px Roboto;
}
.main__title-text_highlight {
background: #ECF3FF;
}
.main__button {
  display: inline-block;
  padding: 18px 21px;
  border: none;
  font: 18px/21px Roboto;
  background-color: #0056EC;
  color: #FFF;
  border-radius: 4px;
  text-decoration: none;
  transition: opacity .5s;
}
.main__button:hover {
  opacity: .5;
}
.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}
 /*---------------Кнопка навигации------------*/
.menu-wrapper {
  display: inline-block;
  cursor: pointer;
}
.menu-icon {
  width: 25px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.menu-icon-line {
  position: relative;
  width: 25px;
  height: 3px;
  background-color: #0056EC;
}
.menu-icon-line::before {
  position: absolute;
  left: 0;
  content: '';
  width: 25px;
  height: 3px;
  top: 4px;
  background-color: #0056EC;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon-line::after {
  position: absolute;
  left: 0;
  content: '';
  width: 25px;
  height: 3px;
  top: -4px;
  background-color: #0056EC;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon.menu-icon-active .menu-icon-line {
  background-color: transparent;
}
.menu-icon.menu-icon-active .menu-icon-line::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;  
}
.menu-icon.menu-icon-active .menu-icon-line::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;  
} 



@media (max-width: 768px) {
  .menu,.logo__name {
    display: none;
  }
  .header {
    margin-bottom: 28px;
  }
  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 74%;
    background-position: top center;
  }
  .main__title {
    margin-bottom: 44px;
    font: bold 30px/40px pt_serif;
  }
  .main-subtitle {
    margin-bottom: 25px;
    font: 500 16px/19px Roboto;
  }
  .main__button {
    font: 500 14px/16px Roboto;
  }
/*  .menu__icon__line {
   width: 35px;
   height: 3px;
   left: 326px;
   background-color: #0056EC;
     }*/
}
