.title {font-family: Roboto;}
body {display: block; margin: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}
/*-----------логотип-----------------------------*/
.logo {
  position: relative;
  padding: 40px 0;
  width: 146px;
  height: 32px;
  padding-left: 44px;
  line-height: 32px;
  font: bold 24px/32px 'pt_serifbold';
  }
.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
  }
.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_darck-blue {
  background: #0056EC;
}
/*----------------------------навигация----------------*/
.menu {
  display:flex;
  align-items: center;
}
.menu__item {
  position: relative;
  margin-right: 26px;
  line-height: 21px;
  font: 500 18px/21px Roboto;
  color: #000;
  text-decoration: none;
}
.menu__item:last-child {
  margin-right: 10px;
}
.menu__item_active::after {
position: absolute;
display: block;
content: '';
left: 0;
width: 100%;
height: 3px;
background: #0056EC;
}
.menu__item:hover {
  opacity: .5;
}
.menu__item::after {
position: absolute;
display: block;
content: '';
left: 0;
width: 0;
height: 3px;
background: #0056EC;
opacity: 0;
transition: opacity 0.5s, width 0.5s;
}
.menu__item:hover::after,.menu__item_active::after {
opacity: 1;
width: 100%;
}
/*----------------Основной блок------------------*/
.main {
padding-right: 63%;
padding-bottom: 90%;
background:no-repeat url(img/main.svg) top right;
}
.main__title {
margin: 0px 0 36px 0;
line-height: 87px;
padding-top: 76px;
font-style: normal;
font-weight: bold;
font: bold 66px/87px pt_serifbold;
}
.main-subtitle {
margin: 0px 0px 35px 0;
padding-right: 0px;
line-height: 26px;
font: normal 22px/26px Roboto;
}
.main__title-text_highlight {
background: #ECF3FF;
}
.main__button {
display: inline-block;
padding: 20px 45px 16px 16px;
border: none;
line-height: 21px;
font: 500 18px Roboto;  
background-color: #0056EC;
color: #FFF;
border-radius: 4px;
text-decoration: none;
transition: opacity .5s;
}
.main__button:hover {
  opacity: .5;
}
.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}
 /*---------------Кнопка навигации------------*/

input {
  display: none;
}
/* скрываем чекбокс */
#ham-menu__toggle {
  opacity: 0;
  
}
/* стилизуем кнопку */

.ham-menu__btn {
  display: none;
  margin: 32px 0 0 226px;
  /*padding-top: 32px;*/
  top: 32px;
  /*padding-left: 250px;*/
  width: 25px;
  height: 17px;
  cursor: pointer;
  z-index: 3;
}
@media (max-width: 375px) {
  .ham-menu__btn {
   display: flex; /* используем flex для центрирования содержимого */
   align-items: center;  /* центрируем содержимое кнопки */
  }
}
/* добавляем "гамбургер" */
.ham-menu__btn > span,
.ham-menu__btn > span::before,
.ham-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #0056EC;
}
.ham-menu__btn > span::before {
  content: '';
  top: -4px;
}
.ham-menu__btn > span::after {
  content: '';
  top: 4px;
}
/*------------------------ контейнер меню------------------------ */
.ham-menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 286px 0;
  list-style: none;
  text-align: center;
  background-color: #fff;
  margin: 30px 0;
  box-shadow: 10px 0px 16px (0, 0, 0, .0);
  z-index: 2;
}

/* элементы меню */
.ham-menu__item_box {
  display: block;
  margin-bottom: 24px ;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
}
.ham-menu__item_box:hover {
  background-color: #FFF;
}

#ham-menu__toggle:checked ~ .ham-menu__btn > span {
  transform: rotate(45deg);
}
#ham-menu__toggle:checked ~ .ham-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#ham-menu__toggle:checked ~ .ham-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#ham-menu__toggle:checked ~ .ham-menu__box {
  visibility: visible;
  left: 0;
}

@media (max-width: 375px) {
  .menu {
    display: none;
  }
  .logo__name {
    display: none;
  } 
  .header {
    margin-bottom: 12px;
  }
  .main {
    text-align: center;
    padding: 80px 0 15px 0;
    background-size: 100%;
    background-position: top center;
  }
  .main__title {
    text-align: center;
    margin-bottom: 44px;
    padding-top: 144px;
    font: bold 30px/40px pt_serif;
  }
  .main-subtitle {
    margin-bottom: 25px;
    font: 500 16px/19px Roboto;
  }
  .main__button {
    font: 500 14px/16px Roboto;
  }
}